[Unit]
Description=Caddy Web Server Container
After=network-online.target

[Container]
Image=docker.io/library/caddy:latest
Network=proxy.network:ip=192.168.40.8
PublishPort=80:80
PublishPort=443:443
Volume=/home/masonp/caddy/Caddyfile:/etc/caddy/Caddyfile
Volume=/home/masonp/caddy/caddy_data:/data
Volume=/home/masonp/caddy/caddy_config:/config
Volume=/home/masonp/caddy/http/:/var/www/html/
AutoUpdate=registry

[Install]
WantedBy=default.target