[Unit]
Description=HTTPd Container
After=network-online.target

[Container]
Image=docker.io/library/httpd:latest
PublishPort=80:80/tcp
Volume=/home/masonp/httpd/:/usr/local/apache2/htdocs
Network=proxy.network:ip=192.168.40.4

[Install]
WantedBy=default.target