[Unit]
Description=Miniflux Container
Wants=postgres.service
After=postgres.service

[Container]
Image=docker.io/miniflux/miniflux:latest
Environment=DATABASE_URL=postgres://miniflux:OrangeDoor05@192.168.40.5/miniflux?sslmode=disable
Environment=RUN_MIGRATIONS=1
Environment=CREATE_ADMIN=1
Environment=ADMIN_USERNAME=masonp
Environment=ADMIN_PASSWORD=OrangeDoor05
Network=proxy.network:ip=192.168.40.6
AutoUpdate=registry

[Install]
WantedBy=default.target