[Unit]
Description=Pi-Hole Container
Wants=unbound.service
After=unbound.service

[Quadlet]
DefaultDependencies=false

[Container]
Image=docker.io/pihole/pihole:latest
Environment=TZ=America/Los_Angeles
Environment=FTLCONF_webserver_api_password=OrangeDoor#05
Environment=FTLCONF_dns_listeningMode=ALL
Volume=/home/masonp/pi-hole/etc-pihole:/etc/pihole
AddCapability=CAP_SYS_NICE
AutoUpdate=registry
Newtork=host

[Service]
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
