[Unit]
Description=SearXNG Container
After=network-online.target

[Container]
Image=docker.io/searxng/searxng:latest
PublishPort=8888:8080/tcp
Volume=/home/masonp/searxng/etc-searxng/:/etc/searxng/
Volume=/home/masonp/searxng/data/:/var/cache/searxng/

[Install]
WantedBy=default.target