[Unit]
Description=Unbound DNS Container
After=network-online.target

[Container]
Image=my-unbound.build
Network=dns.network:ip=192.168.40.2

[Service]
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
