[Unit]
Description=Unbound DNS Container

[Quadlet]
DefaultDependencies=false

[Container]
Image=my-unbound.build
Network=host

[Service]
ExecStartPre=timeout 60s sh -c 'until ping -c1 192.168.50.1; do sleep 1; done;'
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
