{
    local_certs
}

raspi.local {
    root * /var/www/html
    tls internal

    handle /scan* {
        file_server browse
    }

    handle {
        file_server
    }
}

pihole.raspi.local {
    redir / /admin/
    reverse_proxy 192.168.40.3:80
    tls internal
}

miniflux.raspi.local {
    reverse_proxy 192.168.40.6:8080
    tls internal
}